<div class="pure-g home-vehicle-list">
  <div class="qm-sm-6-12 qm-md-3-12">
    <div class="single-vehicle">
      <a class="pkw color active" href="/es/vehiculo-impuesto-alemania/">
        <svg class="icon active"><use xlink:href="#pkw"></use></svg>
        <br />
        <span class="text-link">Vehículo</span>
      </a>
    </div>
  </div>

  <div class="qm-sm-6-12 qm-md-3-12">
    <div class="single-vehicle">
      <a
        class="motorrad color active"
        href="/es/motocicleta-impuesto-alemania/"
      >
        <svg class="icon active"><use xlink:href="#motorrad"></use></svg>
        <br />
        <span class="text-link">Motocicleta</span>
      </a>
    </div>
  </div>

  <div class="qm-sm-6-12 qm-md-3-12">
    <div class="single-vehicle">
      <a class="wohnmobil color active" href="/es/rv-impuesto-alemania/">
        <svg class="icon active"><use xlink:href="#wohnmobil"></use></svg>
        <br />
        <span class="text-link">RV</span>
      </a>
    </div>
  </div>

  <div class="qm-sm-6-12 qm-md-3-12">
    <div class="single-vehicle">
      <a class="lkw color active" href="/es/camion-impuesto-alemania/">
        <svg class="icon active"><use xlink:href="#lkw"></use></svg>
        <br />
        <span class="text-link">Camión</span>
      </a>
    </div>
  </div>

  <div class="qm-sm-6-12 qm-md-3-12">
    <div class="single-vehicle">
      <a class="anhaenger color active" href="/es/remolque-impuesto-alemania/">
        <svg class="icon active"><use xlink:href="#anhaenger"></use></svg>
        <br />
        <span class="text-link">Remolque</span>
      </a>
    </div>
  </div>

  <div class="qm-sm-6-12 qm-md-3-12">
    <div class="single-vehicle">
      <a
        class="efz color active"
        href="/es/electrico-vehiculo-impuesto-alemania/"
      >
        <svg class="icon active"><use xlink:href="#efz"></use></svg>
        <br />
        <span class="text-link">Eléctrico</span>
      </a>
    </div>
  </div>

  <div class="qm-sm-6-12 qm-md-3-12">
    <div class="single-vehicle">
      <a class="oldtimer color active" href="/es/antiguo-impuesto-alemania/">
        <svg class="icon active"><use xlink:href="#oldtimer"></use></svg>
        <br />
        <span class="text-link">Antiguo</span>
      </a>
    </div>
  </div>
</div>
