<div class="calculator-container pure-form pure-form-stacked">
  <div class="inner-calc">
    <div class="pure-g row">
      <div class="qm-md-6-12 qm-sm-12-12 p-r-10">
        <label class="tooltip"
          >Tamaño del motor en cc <sub>*</sub
          ><span class="tooltiptext"
            >Por favor introduzca el tamaño del desplazamiento del motor en
            centímetros cúbicos (cc). Esta información se encuentra en el
            certificado de registro en la Parte I, Sección P.1.</span
          ></label
        >
        <input
          class="qm-sm-12-12 qm-md-12-12 numeric-input jsCalcBikeDisplacementInput"
          type="number"
          name="displacement"
        />
      </div>

      <div class="qm-md-6-12 qm-sm-12-12 p-l-10">
        <div class="pure-g">
          <div class="qm-md-12-12 qm-sm-12-12 p-r-10">
            <label class="tooltip"
              >Período de registro<span class="tooltiptext"
                ><strong>Registro estacional </strong><br />Usted puede
                registrar su vehículo por menos de 12 meses. Usted puede escoger
                registrar su vehículo entre 2 y 11 meses. Usted tiene permitido
                usar su vehículo en calles públicas durante este período.</span
              ></label
            >
          </div>

          <div class="button-group qm-sm-12-12 seasonbuttons" role="group">
            <button
              class="button button-active qm-sm-6-12 jsCalcBikeStandardBtn"
              type="submit"
              name="button_1"
            >
              estándar
            </button>

            <button
              class="button qm-sm-6-12 jsCalcBikeSeasonalBtn"
              type="submit"
              name="button_2"
            >
              estacional
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="pure-g row jsCalcBikeMonths" id="season-div" hidden="">
      <div class="button-group qm-sm-6-12 qm-md-6-12 p-r-10" role="group">
        <label for="month_from">desde</label>
        <select
          class="form-control qm-sm-12-12 jsCalcBikeSelectMonthsFrom"
          name="month_from"
          id="month_from"
        >
          <option value="1" selected="">Enero</option>
          <option value="2">Febrero</option>
          <option value="3">Marzo</option>
          <option value="4">Abril</option>
          <option value="5">Mayo</option>
          <option value="6">Junio</option>
          <option value="7">Julio</option>
          <option value="8">Agosto</option>
          <option value="9">Septiembre</option>
          <option value="10">Octubre</option>
          <option value="11">Noviembre</option>
        </select>
      </div>

      <div class="button-group qm-sm-6-12 qm-md-6-12 p-l-10" role="group">
        <label for="month_to">hasta</label>

        <select
          class="form-control qm-sm-12-12 jsCalcBikeSelectMonthsTo"
          name="month_to"
          id="month_to"
        >
          <option value="2">Febrero</option>
          <option value="3">Marzo</option>
          <option value="4">Abril</option>
          <option value="5">Mayo</option>
          <option value="6">Junio</option>
          <option value="7">Julio</option>
          <option value="8">Agosto</option>
          <option value="9">Septiembre</option>
          <option value="10">Octubre</option>
          <option value="11">Noviembre</option>
          <option value="12">Diciembre</option>
        </select>
      </div>
    </div>
  </div>

  <div class="calculator-message jsCalcBikeResultLess">
    <h2>
      Motocicletas con tamaños de motores de menos de 125 cc están exentas de
      impuestos <span class="result"></span>
    </h2>
  </div>

  <div class="calculator-message jsCalcBikeResultMore" hidden="">
    <h2>El monto del impuesto por año de este vehículo sería el siguiente:</h2>
    <span class="result_number jsCalcBikeResultMoreValue">0,00 €</span>
    <h2></h2>
  </div>
</div>
