<div class="calculator-container pure-form pure-form-stacked">
  <div class="inner-calc">
    <div class="pure-g row">
      <div class="qm-md-6-12 qm-sm-12-12 p-r-10">
        <label class="tooltip"
          >Fecha del primer registro del vehículo <sub>*</sub
          ><span class="tooltiptext"
            ><strong
              >"Fecha del primer registro del vehículo" (Erstzulassung -
              EZ)</strong
            ><br />
            La primera fecha en la que su vehículo fue registrado. Esta
            información se encuentra en el certificado de su permiso.</span
          ></label
        >

        <select
          class="form-control qm-sm-12-12 jsCalcCarRegistrationSelect"
          name="engine-type"
        >
          <option value="">Por favor seleccione</option>
          <option value="a1">EZ antes del 30.06.2009</option>
          <option value="a2">EZ 01.07.2009 hasta el 31.12.2011</option>
          <option value="a3">EZ 01.01.2012 hasta el 31.12.2013</option>
          <option value="a4">EZ 01.01.2014 hasta el 31.12.2020</option>
          <option value="a5">EZ 01.01.2021 y después</option>
        </select>
      </div>
      <div class="qm-md-6-12 qm-sm-12-12 p-l-10">
        <label class="tooltip"
          >Capacidad del motor en ccm <sub>*</sub
          ><span class="tooltiptext"
            >Por favor introduzca el tamaño de su moto. Esta información se
            encuentra en el certificado de su permiso("Zulassungsbescheinigung")
            en la Parte I, Sección P.1.</span
          ></label
        >
        <input
          class="qm-sm-12-12 numeric-input jsCalcCarDisplacementInput"
          type="number"
          name="displacement"
        />
      </div>
    </div>

    <div class="pure-g row">
      <div class="qm-md-6-12 qm-sm-12-12 p-r-10">
        <label class="tooltip"
          >Tipo de combustible <sub>*</sub
          ><span class="tooltiptext"
            >Por favor seleccione el tipo de combustible de su vehículo.</span
          ></label
        >
        <select
          class="form-control qm-sm-12-12 jsCalcCarEngineSelect"
          name="engine-type"
        >
          <option value="">Por favor seleccione</option>
          <option value="c1">Gasolina / Wankel</option>
          <option value="c2">Motor diésel</option>
        </select>
      </div>

      <div class="qm-md-6-12 qm-sm-12-12 p-l-10">
        <div class="jsCalcCarEmission" hidden="">
          <label class="tooltip"
            >Clase de emisión <sub>*</sub
            ><span class="tooltiptext"
              ><strong>Emission class</strong><br />
              Por favor seleccione la clase de emisión de su vehículo. Esta
              información se encuentra en el certificado de su permiso en la
              Parte I, Sección 14. Para permisos emitidos antes del 2005, esta
              información se encuentra en la sección 1.</span
            ></label
          >
          <select
            class="form-control qm-sm-12-12 jsCalcCarEmissionSelect"
            name="emmision-class"
          >
            <option value="">Por favor seleccione</option>
            <option value="b1">Euro 3, D3 o mejor</option>
            <option value="b2">Euro 2</option>
            <option value="b3">Euro 1</option>
            <option value="b4">
              Euro 0 (con permiso de conducir sin baja emisión durante alertas
              de ozono)
            </option>
            <option value="b5">todas las demás</option>
          </select>
        </div>
        <div class="jsCalcCarCo2" hidden="">
          <label class="tooltip"
            >Emisiones de CO2 en g/km <sub>*</sub
            ><span class="tooltiptext"
              >Por favor introduzca las emisiones de CO2 de su vehículo. Esta
              información puede ser encontrada en el certificado de su permiso
              bajo la Parte I, Sección V.br&gt;<br />Las deducciones fiscales
              funcionan de la siguiente forma:br&gt;Vehículos registrados 01 de
              julio del 2009 – 31 de diciembre del 2011: 120 g/km<br />
              Vehículos registrados 01 de enero del 2012 – 31 de diciembre del
              2013: 110 g/km<br />
              Vehículos registrados después del 01 de enero del 2014: 95
              g/km</span
            ></label
          >
          <input
            class="qm-sm-12-12 numeric-input jsCalcCarCo2Input"
            type="number"
            name="co2-emissions"
          />
        </div>
      </div>
    </div>

    <div class="pure-g row">
      <div class="qm-md-6-12 qm-sm-12-12 p-r-10">
        <div class="pure-g">
          <div class="qm-md-12-12 qm-sm-12-12">
            <label class="tooltip"
              >Período de registro<span class="tooltiptext"
                ><strong>Registro estacional </strong><br />Usted puede
                registrar su vehículo por menos de 12 meses. Usted puede escoger
                registrar su vehículo entre 2 y 11 meses. Usted tiene permitido
                usar su vehículo en calles públicas durante este período.</span
              ></label
            >
          </div>
          <div class="button-group qm-sm-12-12 seasonbuttons" role="group">
            <button
              class="button qm-sm-6-12 jsCalcCarStandardBtn button-active"
              type="submit"
              name="button_1"
            >
              estándar
            </button>
            <button
              class="button qm-sm-6-12 jsCalcCarSeasonalBtn"
              type="submit"
              name="button_2"
            >
              estacional
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="pure-g row jsCalcCarMonths" id="season-div" hidden="">
      <div class="button-group qm-sm-6-12 qm-md-6-12 p-r-10" role="group">
        <label for="month_from">desde</label>
        <select
          class="form-control qm-sm-12-12 jsCalcCarMonthsSelectFrom"
          name="month_from"
          id="month_from"
        >
          <option value="1" selected="">Enero</option>
          <option value="2">Febrero</option>
          <option value="3">Marzo</option>
          <option value="4">Abril</option>
          <option value="5">Mayo</option>
          <option value="6">Junio</option>
          <option value="7">Julio</option>
          <option value="8">Agosto</option>
          <option value="9">Septiembre</option>
          <option value="10">Octubre</option>
          <option value="11">Noviembre</option>
        </select>
      </div>

      <div class="button-group qm-sm-6-12 qm-md-6-12 p-l-10" role="group">
        <label for="month_to">hasta</label>
        <select
          class="form-control qm-sm-12-12 jsCalcCarMonthsSelectTo"
          name="month_to"
          id="month_to"
        >
          <option value="2">Febrero</option>
          <option value="3">Marzo</option>
          <option value="4">Abril</option>
          <option value="5">Mayo</option>
          <option value="6">Junio</option>
          <option value="7">Julio</option>
          <option value="8">Agosto</option>
          <option value="9">Septiembre</option>
          <option value="10">Octubre</option>
          <option value="11">Noviembre</option>
          <option value="12">Diciembre</option>
        </select>
      </div>
    </div>
  </div>

  <div class="calculator-message jsCalcCarResult">
    <h2>El monto del impuesto sobre el vehículo por año sería el siguiente:</h2>
    <span class="result_number jsCalcCarResultValue">0,00 €</span>
    <h2></h2>
  </div>
</div>
