<!DOCTYPE html>
<html lang="ru">
  {{ partial "head.html" . }}

  <body class="">
    {{ partial "nav_ru.html" . }}
    <div class="wrapper">
      <div class="pure-g">
        <div class="qm-sm-12-12 content-wrapper">
          <div class="heading">
            {{ with .Params.banner }}
            <h1>{{.title | markdownify }}</h1>

            <h2>{{ .sub_title | markdownify }}</h2>
            {{ end }}
          </div>
          {{if .Params.top_menu.enable}}
          <!---->
          <div>{{ partial "to_menu_ru" . }}</div>
          {{ end }}

          <label for="drop" class="toggle burger-icon"></label>
          <input type="checkbox" id="drop" />

          <ul class="menu show-for-small-only">
            <li>
              <a href="https://kfz-steuer.wiki/ru/nalog-na-avtomobil/"
                >Налог на автомобиль</a
              >
            </li>

            <li>
              <a href="https://kfz-steuer.wiki/ru/nalog-na-motocikl/"
                >Налог на мотоцикл</a
              >
            </li>

            <li>
              <a href="https://kfz-steuer.wiki/ru/nalog-na-avtodom/"
                >Налог на автодом</a
              >
            </li>

            <li>
              <a href="https://kfz-steuer.wiki/ru/nalog-na-gruzovik/"
                >Налог на грузовик</a
              >
            </li>

            <li>
              <a href="https://kfz-steuer.wiki/ru/nalog-na-pricep/"
                >Налог на прицеп</a
              >
            </li>

            <li>
              <a href="https://kfz-steuer.wiki/ru/nalog-na-elektrokar/"
                >Налог на электрокар</a
              >
            </li>

            <li>
              <a href="https://kfz-steuer.wiki/ru/nalog-na-retrokar/"
                >Налог на ретрокар</a
              >
            </li>
          </ul>

          <article>{{.Content}}</article>
        </div>
      </div>
    </div>
    {{ partial "footer_ru.html" . }} {{ partial "script.html" . }}
  </body>
</html>
