<nav>
  <div class="wrapper">
    <div id="logo">
      <a href="/ru/">
        <img
          src="/assets/images/kfz-steuer.wiki.svg"
          alt="kfz-steuer.wiki.svg"
          width="175"
          height="21"
          class=""
        />
      </a>
    </div>

    <div class="language-selector show-for-medium">
      <ul class="header-language">
        <li>
          <img
            src="/assets/images/ru.svg"
            alt="kfz-steuer.wiki"
            width="16"
            height="12"
            class="m1"
          />
        </li>

        <li>
          <a href="/de/">
            <img
              src="/assets/images/de.svg"
              alt="kfz-steuer.wiki"
              width="16"
              height="12"
              class="m1"
            />
          </a>
        </li>

        <li>
          <a href="/">
            <img
              src="/assets/images/gb.svg"
              alt="kfz-steuer.wiki"
              width="16"
              height="12"
              class="m1"
            />
          </a>
        </li>

        <li>
          <a href="/es/">
            <img
              src="/assets/images/es.svg"
              alt="kfz-steuer.wiki"
              width="16"
              height="12"
              class="m1"
            />
          </a>
        </li>
      </ul>
    </div>

    <div class="share-box-wrapper show-for-medium">
      <!--<div class="pure-g">-->
      <!--<div class="qm-sm-12-12">-->
      <div class="share-box share-box-content">
        <div class="header-share-box-button">
          <a
            class="f"
            rel="nofollow"
            href="https://www.facebook.com/sharer/sharer.php?u=https://kfz-steuer.wiki/ru/"
            ><svg class="icon"><use xlink:href="#facebook" /></svg>
          </a>
          <a
            class="t"
            rel="nofollow"
            href="https://twitter.com/intent/tweet?text=pages.index.title&url=https://kfz-steuer.wiki/ru/"
            ><svg class="icon"><use xlink:href="#twitter" /></svg>
          </a>
          <a
            class="x show-for-medium"
            rel="nofollow"
            href="https://www.xing-share.com/app/user?op=share;sc_p=xing-share;url=https://kfz-steuer.wiki"
            ><svg class="icon"><use xlink:href="#xing" /></svg>
          </a>
          <a
            class="l show-for-medium"
            rel="nofollow"
            href="https://www.linkedin.com/shareArticle?mini=true&url=https://kfz-steuer.wiki/ru/&title=pages.index.title&summary=&source=webjeda"
            ><svg class="icon"><use xlink:href="#linkedin" /></svg>
          </a>
          <a
            class="e show-for-medium"
            href="mailto:?subject=pages.index.title&amp;body=Check out this site https://kfz-steuer.wiki/ru/"
            ><svg class="icon"><use xlink:href="#mail" /></svg>
          </a>
        </div>
      </div>
      <!--</div>-->
      <!--</div>-->
    </div>
  </div>
</nav>
