<div class="calculator-container pure-form pure-form-stacked">
  <div class="inner-calc">
    <div class="pure-g row">
      <div class="qm-md-6-12 qm-sm-12-12 p-r-10">
        <label class="tooltip"
          >Zulässige Gesamtmasse in KG <sub>*</sub
          ><span class="tooltiptext"
            ><strong>Verkehrsrechtlich zulässige Gesamtmasse</strong><br />Das
            verkehrsrechtlich zulässige Gesamtgewicht steht in der
            Zulassungsbescheinigung Teil I, Feld F.2. Beachten Sie, dass es von
            der technisch zulässigen Gesamtmasse abweichen kann.</span
          ></label
        >
        <input
          class="qm-sm-12-12 numeric-input jsCalcTrailerTotalInput"
          type="number"
          name="total-mass"
        />
      </div>
      <div class="qm-md-6-12 qm-sm-12-12 p-l-10">
        <label class="tooltip"
          >Sattel- / Starr- / Zentralanhänger <sub>*</sub
          ><span class="tooltiptext"
            >Geben Sie an, ob es sich um einen Sattel-, Starr- oder
            Zentralanhänger handelt.</span
          ></label
        >
        <select
          class="form-control qm-sm-12-12 jsCalcTrailerSemitrailerSelect"
          name="semi-trailer"
        >
          <option value="0">Nein</option>
          <option value="1">Ja</option>
        </select>
      </div>
    </div>

    <div class="pure-g row">
      <div class="qm-md-6-12 qm-sm-12-12 p-r-10">
        <div class="pure-g jsCalcTrailerDrawbar" hidden="">
          <label class="tooltip"
            >Aufliegelast in KG<span class="tooltiptext"
              >Die Aufliegelast bei Sattel-, Starr- oder Zentralanhängern ist
              die Last des Gesamtgewichts des Anhängers, die durch das
              Zugfahrzeug getragen wird.</span
            ></label
          >
          <input
            class="qm-sm-12-12 numeric-input jsCalcTrailerDrawbarInput"
            type="number"
            name="drawbar-load"
          />
        </div>
      </div>
      <div class="qm-md-6-12 qm-sm-12-12 p-l-10">
        <div class="pure-g">
          <div class="qm-md-12-12 qm-sm-12-12">
            <label class="tooltip"
              >Anmeldezeitraum<span class="tooltiptext"
                ><strong>Saisonkennzeichen</strong><br />Fahrzeuge können auch
                nur für einige Monate angemeldet werden. Der Zeitraum ist frei
                wählbar zwischen 2 und 11 Monaten. Eine solche Saisonzulassung
                wird durch zwei Ziffern angegeben, die rechts im Nummernschild
                eingeprägt sind. In diesem Zeitraum ist das Fahrzeug im
                Straßenverkehr zugelassen.</span
              ></label
            >
          </div>
          <div class="button-group qm-sm-12-12 seasonbuttons" role="group">
            <button
              class="button qm-sm-6-12 jsCalcTrailerStandardBtn button-active"
              type="submit"
              name="button_1"
            >
              Standard
            </button>
            <button
              class="button qm-sm-6-12 jsCalcTrailerSeasonalBtn"
              type="submit"
              name="button_2"
            >
              Saison
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="pure-g row jsCalcTrailerMonths" id="season-div" hidden="">
      <div class="button-group qm-sm-6-12 qm-md-6-12 p-r-10" role="group">
        <label for="month_from">Von</label>
        <select
          class="form-control qm-sm-12-12 jsCalcTrailerMonthsSelectFrom"
          name="month_from"
          id="month_from"
        >
          <option value="1" selected="">Januar</option>
          <option value="2">Februar</option>
          <option value="3">März</option>
          <option value="4">April</option>
          <option value="5">Mai</option>
          <option value="6">Juni</option>
          <option value="7">Juli</option>
          <option value="8">August</option>
          <option value="9">September</option>
          <option value="10">Oktober</option>
          <option value="11">November</option>
        </select>
      </div>

      <div class="button-group qm-sm-6-12 qm-md-6-12 p-l-10" role="group">
        <label for="month_to">Bis</label>
        <select
          class="form-control qm-sm-12-12 jsCalcTrailerMonthsSelectTo"
          name="month_to"
          id="month_to"
        >
          <option value="2" selected="">Februar</option>
          <option value="3">März</option>
          <option value="4">April</option>
          <option value="5">Mai</option>
          <option value="6">Juni</option>
          <option value="7">Juli</option>
          <option value="8">August</option>
          <option value="9">September</option>
          <option value="10">Oktober</option>
          <option value="11">November</option>
          <option value="12">Dezember</option>
        </select>
      </div>
    </div>
  </div>

  <div class="calculator-message jsCalcTrailerResult">
    <h2>Die Kfz-Steuer für dieses Fahrzeug beträgt:</h2>
    <span class="result_number jsCalcTrailerResultValue">0,00 €</span>
    <h2></h2>
  </div>
</div>
