<div class="c-Callouts">
  <div class="c-CalloutsCard c-CalloutsCard--box">
    <div class="c-CalloutsCard-title">
      <svg><use xlink:href="#external" /></svg><span>Linktipp</span>
    </div>

    <div class="c-CalloutsCard-text c-Article">
      <p>
        Informationen zu KFZ-Versicherungen finden Sie auf unserer Seite
        <a
          href="https://www.kfz-versicherung.co/"
          target="_blank"
          rel="noopener"
          >www.kfz-versicherung.co</a
        >
      </p>
    </div>
  </div>
</div>
