<div class="c-Callouts">
  <div class="c-CalloutsCard c-CalloutsCard--box">
    <div class="c-CalloutsCard-title">
      <svg><use xlink:href="#idea"></use></svg><span>Info</span>
    </div>

    <div class="c-CalloutsCard-text c-Article">
      <p>
        Als Elektroautos werden Kraftfahrzeuge bezeichnet, zu deren Antrieb
        ausschließlich elektrische Energie eingesetzt wird. Hybridautos, die
        neben dem elektrischen Antrieb auch noch einen Verbrennungsmotor
        besitzen, zählen nicht als Elektroautos.
      </p>
    </div>
  </div>
</div>
