<div class="c-Callouts">
  <div class="c-CalloutsCard c-CalloutsCard--box">
    <div class="c-CalloutsCard-title">
      <svg><use xlink:href="#idea"></use></svg><span>Info</span>
    </div>

    <div class="c-CalloutsCard-text c-Article">
      <p>
        Die Kfz-Steuer für Elektroautos wird nach Gewicht berechnet. Sie ist
        insgesamt relativ niedrig, zusätzlich erhalten die Besitzer anfangs eine
        Steuerbefreiung. Damit fördert die Bundesregierung die Elektromobilität.
      </p>
    </div>
  </div>
</div>
