<div class="c-Callouts">
  <div class="c-CalloutsCard c-CalloutsCard--box">
    <div class="c-CalloutsCard-title">
      <svg><use xlink:href="#idea"></use></svg><span>Info</span>
    </div>

    <div class="c-CalloutsCard-text c-Article">
      <p>
        Eine Steuerbefreiung für Anhänger bringt nicht immer Ersparnisse mit
        sich. Wenn der Hänger unter 10 t wiegt, wird sie sogar teurer als die
        Einzelbesteuerung des Hängers. Zudem dürfen diese Hänger dann nicht mit
        einem normalen Auto gezogen werden und nur zu den angegebenen Zwecken
        verwendet werden. Dennoch kann sich die besondere Steuerbefreiung in
        bestimmten Fällen für größere Unternehmen lohnen, die mehr Anhänger als
        Zug-Kfz besitzen.
      </p>
    </div>
  </div>
</div>
