<div class="c-Callouts">
  <div class="c-CalloutsCard c-CalloutsCard--box">
    <div class="c-CalloutsCard-title">
      <svg><use xlink:href="#idea"></use></svg><span>Info</span>
    </div>

    <div class="c-CalloutsCard-text c-Article">
      <p>
        Nicht nur Kraftfahrzeuge, sondern auch Anhänger sind
        Kfz-steuerpflichtig. Allerdings gibt es auch für sie - wie bei den
        Kraftfahrzeugen - in bestimmten Fällen Steuerbefreiungen.
        <a href="#steuerbefreiung-für-anhänger-beantragen"
          >Mehr zur Steuerbefreiung finden sie hier</a
        >.
      </p>
    </div>
  </div>
</div>
