<div class="c-Callouts">
  <div class="c-CalloutsCard c-CalloutsCard--box">
    <div class="c-CalloutsCard-title">
      <svg><use xlink:href="#external"></use></svg><span>Linktipp</span>
    </div>

    <div class="c-CalloutsCard-text c-Article">
      <p>
        Informationen und Vergleiche zu Motorradversicherungen finden sie auf
        unserer Seite
        <a
          href="https://www.motorradversicherung-vergleich.de/"
          target="_blank"
          rel="noopener noreferrer"
          >https://www.motorradversicherung-vergleich.de/</a
        >
      </p>
    </div>
  </div>
</div>
