<div class="c-Callouts c-Callouts--duo">
  <div class="c-CalloutsCard c-CalloutsCard--box">
    <div class="c-CalloutsCard-title">
      <svg><use xlink:href="#check"></use></svg><span>Quelle</span>
    </div>

    <div class="c-CalloutsCard-text c-Article">
      <p>
        <a
          href="https://www.gesetze-im-internet.de/kraftstg/__10.html"
          target="_blank"
          rel="noopener"
          >Kraftfahrzeugsteuergesetz (KraftStG 2002) § 10 Sonderregelung für
          Kraftfahrzeuganhänger</a
        >
      </p>
    </div>
  </div>
</div>
