<div class="c-FAQ c-FAQ--it c-FAQ--ib">
  <div class="c-FAQ-item" id="unterschied-kfz-steuer-benzin-diesel">
    <input
      class="c-FAQ-input h-VisuallyHidden"
      id="faqInput4646491"
      type="checkbox"
    />

    <label class="c-FAQ-label" for="faqInput4646491">
      <div class="c-FAQ-icon"></div>

      <h3 class="c-FAQ-question">
        Werden Benzin- und Dieselmotoren unterschiedlich besteuert?
      </h3>
    </label>

    <div class="c-FAQ-answer">
      <ul>
        <li>
          Bei der Berechnung der Kfz-Steuer werden Dieselfahrzeuge deutlich
          teurer als Benziner besteuert.
        </li>
      </ul>
    </div>
  </div>
  <div class="c-FAQ-item" id="berechnung-kfz-steuer-ab-2021">
    <input
      class="c-FAQ-input h-VisuallyHidden"
      id="faqInput8347152"
      type="checkbox"
    />

    <label class="c-FAQ-label" for="faqInput8347152">
      <div class="c-FAQ-icon"></div>

      <h3 class="c-FAQ-question">
        Was ändert sich ab 2021 bei der Berechnung der Kfz-Steuer?
      </h3>
    </label>

    <div class="c-FAQ-answer">
      <ul>
        <li>
          Mit dem Großen Konjunkturpaket 2020 wurde auch eine Neuregelung der
          Kraftfahrzeugsteuer zum 1. Januar 2021 beschlossen. Die Kfz-Steuer für
          Neuwagen mit Kohlendioxidemissionen über 195 Gramm C02 pro Kilometer
          soll einen doppelt so hohen Aufschlag beinhalten. Neue Autos, die
          weniger als 95 Gramm CO2 pro Kilometer ausstoßen, sollen hingegen mit
          einer steuerlichen Vergünstigung von
          <span class="blue"><strong>30,00 €/Jahr</strong></span> für einen
          Zeitraum von fünf Jahren subventioniert werden.<br />Außerdem soll der
          CO2-Ausstoß mit zusätzlichen Kosten belegt werden.
        </li>
      </ul>
    </div>
  </div>
  <div class="c-FAQ-item" id="pkw-anhaenger-besteuerung">
    <input
      class="c-FAQ-input h-VisuallyHidden"
      id="faqInput2136663"
      type="checkbox"
    />

    <label class="c-FAQ-label" for="faqInput2136663">
      <div class="c-FAQ-icon"></div>

      <h3 class="c-FAQ-question">Wie wird ein Pkw-Anhänger besteuert?</h3>
    </label>

    <div class="c-FAQ-answer">
      <ul>
        <li>
          Anhänger sind in der regel steuerpflichtig und werden je nach Gewicht
          besteuert.
          <a href="/de/anhaenger-steuer-rechner/"
            >Die Kfz-Steuer für Anhänger kann schnell und einfach berechnet
            werden</a
          >.
        </li>
      </ul>
    </div>
  </div>
  <div class="c-FAQ-item" id="anmeldung-kfz-steuer">
    <input
      class="c-FAQ-input h-VisuallyHidden"
      id="faqInput5524834"
      type="checkbox"
    />

    <label class="c-FAQ-label" for="faqInput5524834">
      <div class="c-FAQ-icon"></div>

      <h3 class="c-FAQ-question">
        Wie melde ich die Kfz-Steuer für mein Auto an?
      </h3>
    </label>

    <div class="c-FAQ-answer">
      <ul>
        <li>
          Sie müssen Ihr Auto nicht gesondert für die Kfz-Steuer anmelden, denn
          mit der Zulassung wird das Fahrzeug automatisch steuerpflichtig und
          dem zuständigen Hauptzollamt gemeldet. Wir haben
          <a href="/de/">allgemeine Informationen zur Kfz-Steuer</a> und ihrer
          Zahlung für Sie zusammengestellt.
        </li>
      </ul>
    </div>
  </div>
  <div class="c-FAQ-item" id="steuerbefreiung-kfz-steuer">
    <input
      class="c-FAQ-input h-VisuallyHidden"
      id="faqInput1665005"
      type="checkbox"
    />

    <label class="c-FAQ-label" for="faqInput1665005">
      <div class="c-FAQ-icon"></div>

      <h3 class="c-FAQ-question">
        Welche Autos sind von der Kfz-Steuer befreit?
      </h3>
    </label>

    <div class="c-FAQ-answer">
      <ul>
        <li>
          Privatfahrzeuge sind in der Regel steuerpflichtig. Elektroautos sind
          einige Jahre nach der Zulassung von der Steuer befreit und genießen
          nach Ablauf der Frist eine 50 prozentige Ermäßigung der Steuer.
          Personen mit einer schweren Behinderung, die mit “H”; “BI” oder “aG”
          im Behindertenausweis vermerkt ist, erhalten ebenfalls eine
          Steuerbefreiung.
        </li>
      </ul>
    </div>
  </div>
  <div class="c-FAQ-item" id="sparen-ohne-steuerbefreiung">
    <input
      class="c-FAQ-input h-VisuallyHidden"
      id="faqInput7077606"
      type="checkbox"
    />

    <label class="c-FAQ-label" for="faqInput7077606">
      <div class="c-FAQ-icon"></div>

      <h3 class="c-FAQ-question">
        Wie kann ohne Steuerbefreiung Kfz-Steuer gespart werden?
      </h3>
    </label>

    <div class="c-FAQ-answer">
      <ul>
        <li>
          Bei der Berechnung der Kfz-Steuer wird stark auf die
          Kohlendioxidemission geachtet. Ein umweltfreundliches Auto spart somit
          Steuern und oft lohnt sich eine Nachrüstung.<br />Auch bei der
          Bezahlung der Kfz-Steuer können Sie sparen, indem Sie den Betrag
          jährlich bezahlen, anstatt mit viertel- oder halbjährlichen Raten, auf
          die ein Aufschlag von 3 bis 6 % erhoben wird.
        </li>
      </ul>
    </div>
  </div>
  <script type="application/ld+json" hidden="">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [
        {
          "@type": "Question",
          "name": "Werden Benzin- und Dieselmotoren unterschiedlich besteuert?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "<ul>\n  <li>Bei der Berechnung der Kfz-Steuer werden Dieselfahrzeuge deutlich teurer als Benziner besteuert.</li>\n</ul>\n"
          }
        },
        {
          "@type": "Question",
          "name": "Was ändert sich ab 2021 bei der Berechnung der Kfz-Steuer?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "<ul>\n  <li>Mit dem Großen Konjunkturpaket 2020 wurde auch eine Neuregelung der Kraftfahrzeugsteuer zum 1. Januar 2021 beschlossen. Die Kfz-Steuer für Neuwagen mit Kohlendioxidemissionen über 195 Gramm C02 pro Kilometer soll einen doppelt so hohen Aufschlag beinhalten. Neue Autos, die weniger als 95 Gramm CO2 pro Kilometer ausstoßen, sollen hingegen mit einer steuerlichen Vergünstigung von <span class=\"blue\"><strong>30,00 €/Jahr</strong></span> für einen Zeitraum von fünf Jahren subventioniert werden.<br />Außerdem soll der CO2-Ausstoß mit zusätzlichen Kosten belegt werden.</li>\n</ul>\n"
          }
        },
        {
          "@type": "Question",
          "name": "Wie wird ein Pkw-Anhänger besteuert?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "<ul>\n  <li>Anhänger sind in der regel steuerpflichtig und werden je nach Gewicht besteuert. <a href=\"/de/anhaenger-steuer-rechner/\">Die Kfz-Steuer für Anhänger kann schnell und einfach berechnet werden</a>.</li>\n</ul>\n"
          }
        },
        {
          "@type": "Question",
          "name": "Wie melde ich die Kfz-Steuer für mein Auto an?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "<ul>\n  <li>Sie müssen Ihr Auto nicht gesondert für die Kfz-Steuer anmelden, denn mit der Zulassung wird das Fahrzeug automatisch steuerpflichtig und dem zuständigen Hauptzollamt gemeldet. Wir haben <a href=\"/de/\">allgemeine Informationen zur Kfz-Steuer</a> und ihrer Zahlung für Sie zusammengestellt.</li>\n</ul>\n"
          }
        },
        {
          "@type": "Question",
          "name": "Welche Autos sind von der Kfz-Steuer befreit?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "<ul>\n  <li>Privatfahrzeuge sind in der Regel steuerpflichtig. Elektroautos sind einige Jahre nach der Zulassung von der Steuer befreit und genießen nach Ablauf der Frist eine 50 prozentige Ermäßigung der Steuer. Personen mit einer schweren Behinderung, die mit “H”; “BI” oder “aG” im Behindertenausweis vermerkt ist, erhalten ebenfalls eine Steuerbefreiung.</li>\n</ul>\n"
          }
        },
        {
          "@type": "Question",
          "name": "Wie kann ohne Steuerbefreiung Kfz-Steuer gespart werden?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "<ul>\n  <li>Bei der Berechnung der Kfz-Steuer wird stark auf die Kohlendioxidemission geachtet. Ein umweltfreundliches Auto spart somit Steuern und oft lohnt sich eine Nachrüstung.<br />Auch bei der Bezahlung der Kfz-Steuer können Sie sparen, indem Sie den Betrag jährlich bezahlen, anstatt mit viertel- oder halbjährlichen Raten, auf die ein Aufschlag von 3 bis 6 % erhoben wird.</li>\n</ul>\n"
          }
        }
      ]
    }
  </script>
</div>
