<div class="c-FAQ c-FAQ--it c-FAQ--ib">
  <div class="c-FAQ-item" id="kfz-steuer-motorrad">
    <input
      class="c-FAQ-input h-VisuallyHidden"
      id="faqInput1175631"
      type="checkbox"
    />

    <label class="c-FAQ-label" for="faqInput1175631">
      <div class="c-FAQ-icon"></div>

      <h3 class="c-FAQ-question">Fällt für Motorräder eine Steuer an?</h3>
    </label>

    <div class="c-FAQ-answer">
      <ul>
        <li>
          Ja, eine jährliche Steuer muss auch für Motorräder gezahlt werden.
          Diese fällt allerdings, im Vergleich zu Pkws, geringer aus.
        </li>
      </ul>
    </div>
  </div>
  <div class="c-FAQ-item" id="wie-hoch-ist-die-motorrad-steuer">
    <input
      class="c-FAQ-input h-VisuallyHidden"
      id="faqInput8698522"
      type="checkbox"
    />

    <label class="c-FAQ-label" for="faqInput8698522">
      <div class="c-FAQ-icon"></div>

      <h3 class="c-FAQ-question">Wie hoch ist die Steuer für Motorräder?</h3>
    </label>

    <div class="c-FAQ-answer">
      <ul>
        <li>
          Ab einem Hubraum über 125 cm³ fällt jährlich eine Steuer von
          <span class="blue"><strong>1,84 €</strong></span> pro angefangene 25
          cm³ Hubraum an. Motorräder mit einem kleineren Hubraum, wie Leicht-
          und Kleinkrafträder mit einem Hubraum unter 125 cm³, die maximal 45
          km/h schnell sind, sind von der Steuer befreit. Schnell und fehlerfrei
          berechnen lässt sich die Steuer für ihr Motorrad mit unserem
          Motorrad-Steuerrechner.
        </li>
      </ul>
    </div>
  </div>
  <div class="c-FAQ-item" id="motorrad-kfz-steuer-sparen">
    <input
      class="c-FAQ-input h-VisuallyHidden"
      id="faqInput5237953"
      type="checkbox"
    />

    <label class="c-FAQ-label" for="faqInput5237953">
      <div class="c-FAQ-icon"></div>

      <h3 class="c-FAQ-question">
        Wie kann bei der Motorrad-Steuer gespart werden?
      </h3>
    </label>

    <div class="c-FAQ-answer">
      <ul>
        <li>
          Durch ein Saisonkennzeichen wird das Motorrad nur für bestimmte Monate
          zugelassen. Die Motorrad-Steuer fällt nur in diesen Monaten an,
          wodurch vor allem in den Wintermonaten Geld gespart werden kann.
        </li>
      </ul>
    </div>
  </div>
  <div class="c-FAQ-item" id="wie-werden-oldtimer-motorraeder-besteuert">
    <input
      class="c-FAQ-input h-VisuallyHidden"
      id="faqInput7729734"
      type="checkbox"
    />

    <label class="c-FAQ-label" for="faqInput7729734">
      <div class="c-FAQ-icon"></div>

      <h3 class="c-FAQ-question">Wie werden Oldtimer-Motorräder besteuert?</h3>
    </label>

    <div class="c-FAQ-answer">
      <ul>
        <li>
          Anerkannte, mindestens 30 Jahre alte
          <a href="/de/oldtimer-steuer-rechner/">Oldtimer-Motorräder</a> werden
          einheitlich mit einer Motorrad-Steuer von
          <span class="blue"><strong>46,02 €</strong></span> pro Jahr
          versteuert.
        </li>
      </ul>
    </div>
  </div>
  <div class="c-FAQ-item" id="amt-motorrad-steuer-verantwortlich">
    <input
      class="c-FAQ-input h-VisuallyHidden"
      id="faqInput6464795"
      type="checkbox"
    />

    <label class="c-FAQ-label" for="faqInput6464795">
      <div class="c-FAQ-icon"></div>

      <h3 class="c-FAQ-question">
        Welches Amt ist für die Motorrad-Steuer verantwortlich?
      </h3>
    </label>

    <div class="c-FAQ-answer">
      <ul>
        <li>
          Die Steuer für Motorräder gilt als Kfz-Steuer. Diese werden von der
          Bundeszollverwaltung und den regional zuständigen Hauptzollämtern
          erhoben. <a href="/de/">Erfahren Sie Allgemeines zur Kfz-Steuer</a>
        </li>
      </ul>
    </div>
  </div>
  <script type="application/ld+json" hidden="">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [
        {
          "@type": "Question",
          "name": "Fällt für Motorräder eine Steuer an?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "<ul>\n  <li>Ja, eine jährliche Steuer muss auch für Motorräder gezahlt werden. Diese fällt allerdings, im Vergleich zu Pkws, geringer aus.</li>\n</ul>\n"
          }
        },
        {
          "@type": "Question",
          "name": "Wie hoch ist die Steuer für Motorräder?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "<ul>\n  <li>Ab einem Hubraum über 125 cm³ fällt jährlich eine Steuer von <span class=\"blue\"><strong>1,84 €</strong></span> pro angefangene 25 cm³ Hubraum an. Motorräder mit einem kleineren Hubraum, wie Leicht- und Kleinkrafträder mit einem Hubraum unter 125 cm³, die maximal 45 km/h schnell sind, sind von der Steuer befreit. Schnell und fehlerfrei berechnen lässt sich die Steuer für ihr Motorrad mit unserem Motorrad-Steuerrechner.</li>\n</ul>\n"
          }
        },
        {
          "@type": "Question",
          "name": "Wie kann bei der Motorrad-Steuer gespart werden?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "<ul>\n  <li>Durch ein Saisonkennzeichen wird das Motorrad nur für bestimmte Monate zugelassen. Die Motorrad-Steuer fällt nur in diesen Monaten an, wodurch vor allem in den Wintermonaten Geld gespart werden kann.</li>\n</ul>\n"
          }
        },
        {
          "@type": "Question",
          "name": "Wie werden Oldtimer-Motorräder besteuert?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "<ul>\n  <li>Anerkannte, mindestens 30 Jahre alte <a href=\"/de/oldtimer-steuer-rechner/\">Oldtimer-Motorräder</a> werden einheitlich mit einer Motorrad-Steuer von <span class=\"blue\"><strong>46,02 €</strong></span> pro Jahr versteuert.</li>\n</ul>\n"
          }
        },
        {
          "@type": "Question",
          "name": "Welches Amt ist für die Motorrad-Steuer verantwortlich?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "<ul>\n  <li>Die Steuer für Motorräder gilt als Kfz-Steuer. Diese werden von der Bundeszollverwaltung und den regional zuständigen Hauptzollämtern erhoben. <a href=\"/de/\">Erfahren Sie Allgemeines zur Kfz-Steuer</a></li>\n</ul>\n"
          }
        }
      ]
    }
  </script>
</div>
