<div class="c-FAQ c-FAQ--it c-FAQ--ib">
  <div class="c-FAQ-item" id="wie-lange-sind--elektroautos-steuerbefreit">
    <input
      class="c-FAQ-input h-VisuallyHidden"
      id="faqInput7873861"
      type="checkbox"
    />

    <label class="c-FAQ-label" for="faqInput7873861">
      <div class="c-FAQ-icon"></div>

      <h3 class="c-FAQ-question">
        Wie lange gilt die Steuerbefreiung für Elektroautos?
      </h3>
    </label>

    <div class="c-FAQ-answer">
      <ul>
        <li>
          Die Steuerbefreiung gilt bei einer Erstzulassung bis zum 17.05.2011
          für fünf Jahre sowie bei einer Erstzulassung ab dem 18.05.2011 bis zum
          31.12.2030.
        </li>
      </ul>
    </div>
  </div>
  <div class="c-FAQ-item" id="hoehe-kfz-steuer-elektroauto">
    <input
      class="c-FAQ-input h-VisuallyHidden"
      id="faqInput5938292"
      type="checkbox"
    />

    <label class="c-FAQ-label" for="faqInput5938292">
      <div class="c-FAQ-icon"></div>

      <h3 class="c-FAQ-question">
        Wie hoch fällt die Kfz-Steuer bei Elektroautos aus?
      </h3>
    </label>

    <div class="c-FAQ-answer">
      <ul>
        <li>
          Anders als bei herkömmlichen Pkws wird die Kfz-Steuer für Elektroautos
          rein nach zulässigem Gesamtgewicht bestimmt. Wir haben Ihnen eine
          Übersicht der Höhe der Kfz-Steuer für Elektroautos nach Gewicht
          zusammengestellt.
        </li>
      </ul>
    </div>
  </div>
  <div class="c-FAQ-item" id="aenderungen-konjunkturpaket-2020">
    <input
      class="c-FAQ-input h-VisuallyHidden"
      id="faqInput3289873"
      type="checkbox"
    />

    <label class="c-FAQ-label" for="faqInput3289873">
      <div class="c-FAQ-icon"></div>

      <h3 class="c-FAQ-question">
        Welche Änderungen bringt das Große Konjunkturpaket 2020?
      </h3>
    </label>

    <div class="c-FAQ-answer">
      <ul>
        <li>
          Die Bundesregierung hat beschlossen, Elektroautos bis 2030 von der
          Kfz-Steuer zu befreien. Die Verlängerung der steuerfreien Zeit gilt
          auch für Fahrzeuge, die ab dem 18.05.2011 zugelassen wurden. Außerdem
          wird die Autoprämie für neue Elektrofahrzeuge und Hybride angehoben.
        </li>
      </ul>
    </div>
  </div>
  <script type="application/ld+json" hidden="">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [
        {
          "@type": "Question",
          "name": "Wie lange gilt die Steuerbefreiung für Elektroautos?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "<ul>\n  <li>Die Steuerbefreiung gilt bei einer Erstzulassung bis zum 17.05.2011 für fünf Jahre sowie bei einer Erstzulassung ab dem 18.05.2011 bis zum 31.12.2030.</li>\n</ul>\n"
          }
        },
        {
          "@type": "Question",
          "name": "Wie hoch fällt die Kfz-Steuer bei Elektroautos aus?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "<ul>\n  <li>Anders als bei herkömmlichen Pkws wird die Kfz-Steuer für Elektroautos rein nach zulässigem Gesamtgewicht bestimmt. Wir haben Ihnen eine Übersicht der Höhe der Kfz-Steuer für Elektroautos nach Gewicht zusammengestellt.</li>\n</ul>\n"
          }
        },
        {
          "@type": "Question",
          "name": "Welche Änderungen bringt das Große Konjunkturpaket 2020?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "<ul>\n  <li>Die Bundesregierung hat beschlossen, Elektroautos bis 2030 von der Kfz-Steuer zu befreien. Die Verlängerung der steuerfreien Zeit gilt auch für Fahrzeuge, die ab dem 18.05.2011 zugelassen wurden. Außerdem wird die Autoprämie für neue Elektrofahrzeuge und Hybride angehoben.</li>\n</ul>\n"
          }
        }
      ]
    }
  </script>
</div>
