<div class="c-FAQ c-FAQ--it c-FAQ--ib">
  <div class="c-FAQ-item" id="definition-oldtimer">
    <input
      class="c-FAQ-input h-VisuallyHidden"
      id="faqInput752371"
      type="checkbox"
    />

    <label class="c-FAQ-label" for="faqInput752371">
      <div class="c-FAQ-icon"></div>

      <h3 class="c-FAQ-question">Wie ist ein Oldtimer definiert?</h3>
    </label>

    <div class="c-FAQ-answer">
      <ul>
        <li>
          § 2 Nr. 22 FZV definiert Oldtimer als Fahrzeuge, die erstmals vor
          mindestens 30 Jahren zugelassen wurden, weitestgehend ihrem
          ursprünglichen Zustand entsprechen und als erhaltenswert, also als
          “kraftfahrzeugtechnisches Kulturgut” eingestuft werden. Der Status des
          Oldtimers wird alle zwei Jahre überprüft.
        </li>
      </ul>
    </div>
  </div>
  <div class="c-FAQ-item" id="kfz-steuer-oldtimer">
    <input
      class="c-FAQ-input h-VisuallyHidden"
      id="faqInput742432"
      type="checkbox"
    />

    <label class="c-FAQ-label" for="faqInput742432">
      <div class="c-FAQ-icon"></div>

      <h3 class="c-FAQ-question">Entfällt eine Kfz-Steuer auf Oldtimer?</h3>
    </label>

    <div class="c-FAQ-answer">
      <ul>
        <li>Ja, auch Oldtimer werden nach § 9 KraftStG besteuert.</li>
      </ul>
    </div>
  </div>
  <div class="c-FAQ-item" id="steuerhoehe-oldtimer">
    <input
      class="c-FAQ-input h-VisuallyHidden"
      id="faqInput1824053"
      type="checkbox"
    />

    <label class="c-FAQ-label" for="faqInput1824053">
      <div class="c-FAQ-icon"></div>

      <h3 class="c-FAQ-question">Wie hoch ist die Steuer für Oldtimer?</h3>
    </label>

    <div class="c-FAQ-answer">
      <ul>
        <li>
          Seit 2017 werden Oldtimer mit einem Pauschalbetrag besteuert. Dieser
          beträgt pro Jahr <span class="blue">191,73 €</span> für Oldtimer-Autos
          und <span class="blue">46,02 €</span> für Oldtimer-Motorräder.
        </li>
      </ul>
    </div>
  </div>
  <div class="c-FAQ-item" id="geringere-steuer-oldtimer">
    <input
      class="c-FAQ-input h-VisuallyHidden"
      id="faqInput8061904"
      type="checkbox"
    />

    <label class="c-FAQ-label" for="faqInput8061904">
      <div class="c-FAQ-icon"></div>

      <h3 class="c-FAQ-question">
        Warum ist die Kfz-Steuer für Oldtimer geringer als für andere Autos?
      </h3>
    </label>

    <div class="c-FAQ-answer">
      <ul>
        <li>
          Oldtimer werden meist sporadischer gefahren als herkömmliche Autos,
          somit verursachen sie auch weniger Straßenverkehrskosten und
          Schadstoffemissionen.
        </li>
      </ul>
    </div>
  </div>
  <div class="c-FAQ-item" id="weniger-steuer-oldtimer">
    <input
      class="c-FAQ-input h-VisuallyHidden"
      id="faqInput1748045"
      type="checkbox"
    />

    <label class="c-FAQ-label" for="faqInput1748045">
      <div class="c-FAQ-icon"></div>

      <h3 class="c-FAQ-question">
        Wie kann man bei der Oldtimer-Steuer sparen?
      </h3>
    </label>

    <div class="c-FAQ-answer">
      <ul>
        <li>
          Auch bei Oldtimern ist eine Zulassung über ein Saisonkennzeichen
          möglich, wodurch der anfallende Steuerbetrag nur für gewisse Monate
          gezahlt werden muss, wie in unserem Kfz-Steuerrechner für Oldtimer
          berechnet werden kann.
        </li>
      </ul>
    </div>
  </div>
  <div class="c-FAQ-item" id="steuer-mehrere-oldtimer-fahrzeuge">
    <input
      class="c-FAQ-input h-VisuallyHidden"
      id="faqInput2659346"
      type="checkbox"
    />

    <label class="c-FAQ-label" for="faqInput2659346">
      <div class="c-FAQ-icon"></div>

      <h3 class="c-FAQ-question">
        Wie hoch ist die Steuer für den Besitz mehrerer Oldtimer?
      </h3>
    </label>

    <div class="c-FAQ-answer">
      <ul>
        <li>
          Wer mehrere Oldtimer besitzt und diese nur zu Ausstellungszwecken oder
          in die Werkstatt fährt, kann ein rotes Wechselkennzeichen beantragen.
          Dieses kann wahlweise an dem gefahrenen Oldtimer angebracht werden.
          Dabei fällt die Kfz-Steuer nur auf einen Oldtimer an.
        </li>
      </ul>
    </div>
  </div>
  <div class="c-FAQ-item" id="oldtimer-dienstfahrzeug">
    <input
      class="c-FAQ-input h-VisuallyHidden"
      id="faqInput658747"
      type="checkbox"
    />

    <label class="c-FAQ-label" for="faqInput658747">
      <div class="c-FAQ-icon"></div>

      <h3 class="c-FAQ-question">
        Kann ein Oldtimer als Dienstfahrzeug genutzt werden?
      </h3>
    </label>

    <div class="c-FAQ-answer">
      <ul>
        <li>
          Gewerbetreibende können Oldtimer theoretisch auch als Dienstfahrzeug
          nutzen und somit steuerlich geltend machen. Die Anerkennung als
          Firmenwagen wird jedoch nicht in allen Fällen vom Finanzamt bewilligt.
        </li>
      </ul>
    </div>
  </div>
  <div class="c-FAQ-item" id="kfz-steuer-youngtimer">
    <input
      class="c-FAQ-input h-VisuallyHidden"
      id="faqInput9988648"
      type="checkbox"
    />

    <label class="c-FAQ-label" for="faqInput9988648">
      <div class="c-FAQ-icon"></div>

      <h3 class="c-FAQ-question">
        Wie wird die Kfz-Steuer für Youngtimer berechnet?
      </h3>
    </label>

    <div class="c-FAQ-answer">
      <ul>
        <li>
          Youngtimer, die knapp unter 30 Jahre alt sind, gelten (noch) nicht als
          Oldtimer. Die
          <a href="/de/kfz-steuer-rechner/"
            >Kfz-Steuer für Youngtimer wird nach dem vor 2009 geltenden System
            berechnet</a
          >.
        </li>
      </ul>
    </div>
  </div>
  <script type="application/ld+json" hidden="">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [
        {
          "@type": "Question",
          "name": "Wie ist ein Oldtimer definiert?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "<ul>\n  <li>§ 2 Nr. 22  FZV definiert Oldtimer als Fahrzeuge, die erstmals vor mindestens 30 Jahren zugelassen wurden, weitestgehend ihrem ursprünglichen Zustand entsprechen und als erhaltenswert, also als “kraftfahrzeugtechnisches Kulturgut” eingestuft werden. Der Status des Oldtimers wird alle zwei Jahre überprüft.</li>\n</ul>\n"
          }
        },
        {
          "@type": "Question",
          "name": "Entfällt eine Kfz-Steuer auf Oldtimer?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "<ul>\n  <li>Ja, auch Oldtimer werden nach § 9 KraftStG besteuert.</li>\n</ul>\n"
          }
        },
        {
          "@type": "Question",
          "name": "Wie hoch ist die Steuer für Oldtimer?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "<ul>\n  <li>Seit 2017 werden Oldtimer mit einem Pauschalbetrag besteuert. Dieser beträgt pro Jahr <span class=\"blue\">191,73 €</span> für Oldtimer-Autos und <span class=\"blue\">46,02 €</span> für Oldtimer-Motorräder.</li>\n</ul>\n"
          }
        },
        {
          "@type": "Question",
          "name": "Warum ist die Kfz-Steuer für Oldtimer geringer als für andere Autos?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "<ul>\n  <li>Oldtimer werden meist sporadischer gefahren als herkömmliche Autos, somit verursachen sie auch weniger Straßenverkehrskosten und Schadstoffemissionen.</li>\n</ul>\n"
          }
        },
        {
          "@type": "Question",
          "name": "Wie kann man bei der Oldtimer-Steuer sparen?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "<ul>\n  <li>Auch bei Oldtimern ist eine Zulassung über ein Saisonkennzeichen möglich, wodurch der anfallende Steuerbetrag nur für gewisse Monate gezahlt werden muss, wie in unserem Kfz-Steuerrechner für Oldtimer berechnet werden kann.</li>\n</ul>\n"
          }
        },
        {
          "@type": "Question",
          "name": "Wie hoch ist die Steuer für den Besitz mehrerer Oldtimer?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "<ul>\n  <li>Wer mehrere Oldtimer besitzt und diese nur zu Ausstellungszwecken oder in die Werkstatt fährt, kann ein rotes Wechselkennzeichen beantragen. Dieses kann wahlweise an dem gefahrenen Oldtimer angebracht werden. Dabei fällt die Kfz-Steuer nur auf einen Oldtimer an.</li>\n</ul>\n"
          }
        },
        {
          "@type": "Question",
          "name": "Kann ein Oldtimer als Dienstfahrzeug genutzt werden?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "<ul>\n  <li>Gewerbetreibende können Oldtimer theoretisch auch als Dienstfahrzeug nutzen und somit steuerlich geltend machen. Die Anerkennung als Firmenwagen wird jedoch nicht in allen Fällen vom Finanzamt bewilligt.</li>\n</ul>\n"
          }
        },
        {
          "@type": "Question",
          "name": "Wie wird die Kfz-Steuer für Youngtimer berechnet?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "<ul>\n  <li>Youngtimer, die knapp unter 30 Jahre alt sind, gelten (noch) nicht als Oldtimer. Die <a href=\"/de/kfz-steuer-rechner/\">Kfz-Steuer für Youngtimer wird nach dem vor 2009 geltenden System berechnet</a>.</li>\n</ul>\n"
          }
        }
      ]
    }
  </script>
</div>
