<div class="pure-g home-vehicle-list">
  <div class="qm-sm-6-12 qm-md-3-12">
    <div class="single-vehicle">
      <a class="pkw color active" href="/de/kfz-steuer-rechner/">
        <svg class="icon active"><use xlink:href="#pkw" /></svg>
        <br />
        <span class="text-link">Pkw</span>
      </a>
    </div>
  </div>

  <div class="qm-sm-6-12 qm-md-3-12">
    <div class="single-vehicle">
      <a class="motorrad color active" href="/de/motorrad-steuer-rechner/">
        <svg class="icon active">
          <use xlink:href="#motorrad" />
        </svg>
        <br />
        <span class="text-link">Motorrad</span>
      </a>
    </div>
  </div>

  <div class="qm-sm-6-12 qm-md-3-12">
    <div class="single-vehicle">
      <a class="wohnmobil color active" href="/de/wohnmobil-steuer-rechner/">
        <svg class="icon active">
          <use xlink:href="#wohnmobil" />
        </svg>
        <br />
        <span class="text-link">Wohnmobil</span>
      </a>
    </div>
  </div>

  <div class="qm-sm-6-12 qm-md-3-12">
    <div class="single-vehicle">
      <a class="wohnwagen color active" href="/de/wohnwagen-steuer-rechner/">
        <svg class="icon active">
          <use xlink:href="#wohnwagen" />
        </svg>
        <br />
        <span class="text-link">Wohnwagen</span>
      </a>
    </div>
  </div>

  <div class="qm-sm-6-12 qm-md-3-12">
    <div class="single-vehicle">
      <a class="lkw color active" href="/de/lkw-steuer-rechner/">
        <svg class="icon active"><use xlink:href="#lkw" /></svg>
        <br />
        <span class="text-link">Lkw</span>
      </a>
    </div>
  </div>

  <div class="qm-sm-6-12 qm-md-3-12">
    <div class="single-vehicle">
      <a class="anhaenger color active" href="/de/anhaenger-steuer-rechner/">
        <svg class="icon active">
          <use xlink:href="#anhaenger" />
        </svg>
        <br />
        <span class="text-link">Anhänger</span>
      </a>
    </div>
  </div>

  <div class="qm-sm-6-12 qm-md-3-12">
    <div class="single-vehicle">
      <a class="efz color active" href="/de/elektrofahrzeug-steuer-rechner/">
        <svg class="icon active"><use xlink:href="#efz" /></svg>
        <br />
        <span class="text-link">Elektro</span>
      </a>
    </div>
  </div>

  <div class="qm-sm-6-12 qm-md-3-12">
    <div class="single-vehicle">
      <a class="oldtimer color active" href="/de/oldtimer-steuer-rechner/">
        <svg class="icon active">
          <use xlink:href="#oldtimer" />
        </svg>
        <br />
        <span class="text-link">Oldtimer</span>
      </a>
    </div>
  </div>
</div>
