<div class="calculator-container pure-form pure-form-stacked">
  <div class="inner-calc">
    <div class="pure-g row">
      <div class="qm-md-6-12 qm-sm-12-12 p-r-10">
        <label class="tooltip"
          >Erstzulassung <sub>*</sub
          ><span class="tooltiptext"
            ><strong>Erstzulassung (EZ)</strong><br />Das Datum der
            Erstzulassung (EZ-Datum) steht in der Zulassungsbescheinigung Teil
            I, Feld B Ihres Pkw.</span
          ></label
        >

        <select
          class="form-control qm-sm-12-12 jsCalcCarRegistrationSelect"
          name="engine-type"
        >
          <option value="">Bitte auswählen</option>
          <option value="a1">EZ bis 30.06.2009</option>
          <option value="a2">EZ 01.07.2009 bis 31.12.2011</option>
          <option value="a3">EZ 01.01.2012 bis 31.12.2013</option>
          <option value="a4">ab 01.01.2014 bis 31.12.2020</option>
          <option value="a5">ab 01.01.2021</option>
        </select>
      </div>
      <div class="qm-md-6-12 qm-sm-12-12 p-l-10">
        <label class="tooltip"
          >Hubraum in ccm <sub>*</sub
          ><span class="tooltiptext"
            ><strong>Hubraum</strong><br />Der Hubraum gibt das Hubvolumen des
            Motors an. Ein großer Hubraum bedeutet oft auch einen hohen
            Kraftstoffverbrauch. Angaben zum Hubraum Ihres PKW finden Sie in der
            Zulassungsbescheinigung Teil I, Feld P.1.</span
          ></label
        >
        <input
          class="qm-sm-12-12 numeric-input jsCalcCarDisplacementInput"
          type="number"
          name="displacement"
        />
      </div>
    </div>

    <div class="pure-g row">
      <div class="qm-md-6-12 qm-sm-12-12 p-r-10">
        <label class="tooltip"
          >Motorart <sub>*</sub
          ><span class="tooltiptext"
            >Wählen Sie "Dieselmotor" aus, wenn Ihr Pkw einen
            Selbstzündungsmotor hat. Für Fahrzeuge mit Fremdzündungsmotoren
            wählen Sie "Otto / Wankel".</span
          ></label
        >
        <select
          class="form-control qm-sm-12-12 jsCalcCarEngineSelect"
          name="engine-type"
        >
          <option value="">Bitte auswählen</option>
          <option value="c1">Benziner / Wankel</option>
          <option value="c2">Dieselmotor</option>
        </select>
      </div>

      <div class="qm-md-6-12 qm-sm-12-12 p-l-10">
        <div class="jsCalcCarEmission" hidden="">
          <label class="tooltip"
            >Schadstoffklasse <sub>*</sub
            ><span class="tooltiptext"
              ><strong>Schadstoffklasse</strong><br />Die Schadstoffklasse wird
              im Rahmen von Abgasnormen festgelegt. Sie zeigt den
              Schadstoffausstoß des Fahrzeugs an. Dieser ist ein wichtiger
              Faktor für die Höhe der Kfz-Steuer: Je niedriger die Klasse, umso
              höher die Abgaben. Die Schadstoffklasse steht in der
              Zulassungsbescheinigung Teil I, Punkt 14. In
              Zulassungsbescheinigungen, die vor 2005 ausgestellt wurden, finden
              Sie die Information in Feld 1.</span
            ></label
          >
          <select
            class="form-control qm-sm-12-12 jsCalcCarEmissionSelect"
            name="emmision-class"
          >
            <option value="">Bitte auswählen</option>
            <option value="b1">Euro 3, D3 und besser</option>
            <option value="b2">Euro 2</option>
            <option value="b3">Euro 1</option>
            <option value="b4">Euro 0 (Fahren bei Ozonalarm erlaubt)</option>
            <option value="b5">übrige</option>
          </select>
        </div>
        <div class="jsCalcCarCo2" hidden="">
          <label class="tooltip"
            >CO2-Emissionen in g/km <sub>*</sub
            ><span class="tooltiptext"
              >Den CO2-Wert Ihres Pkw finden Sie in der Zulassungsbescheinigung
              Teil I, Feld V.7. Folgende Freigrenzen werden automatisch
              berücksichtigt:<br />
              Bei Fahrzeugen mit Erstzulassung vom 01.07.2009 – 31.12.2011: 120
              g/km<br /><br />Bei Fahrzeugen mit Erstzulassung vom 01.01.2012 –
              31.12.2013: 110 g/km<br /><br />Bei Fahrzeugen mit Erstzulassung
              ab 01.01.2014: 95 g/km</span
            ></label
          >
          <input
            class="qm-sm-12-12 numeric-input jsCalcCarCo2Input"
            type="number"
            name="co2-emissions"
          />
        </div>
      </div>
    </div>

    <div class="pure-g row">
      <div class="qm-md-6-12 qm-sm-12-12 p-r-10">
        <div class="pure-g">
          <div class="qm-md-12-12 qm-sm-12-12">
            <label class="tooltip"
              >Anmeldezeitraum<span class="tooltiptext"
                ><strong>Saisonkennzeichen</strong><br />Fahrzeuge können auch
                nur für einige Monate angemeldet werden. Der Zeitraum ist frei
                wählbar zwischen 2 und 11 Monaten. Eine solche Saisonzulassung
                wird durch zwei Ziffern angegeben, die rechts im Nummernschild
                eingeprägt sind. In diesem Zeitraum ist das Fahrzeug im
                Straßenverkehr zugelassen.</span
              ></label
            >
          </div>
          <div class="button-group qm-sm-12-12 seasonbuttons" role="group">
            <button
              class="button qm-sm-6-12 jsCalcCarStandardBtn button-active"
              type="submit"
              name="button_1"
            >
              Standard
            </button>
            <button
              class="button qm-sm-6-12 jsCalcCarSeasonalBtn"
              type="submit"
              name="button_2"
            >
              Saison
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="pure-g row jsCalcCarMonths" id="season-div" hidden="">
      <div class="button-group qm-sm-6-12 qm-md-6-12 p-r-10" role="group">
        <label for="month_from">Von</label>
        <select
          class="form-control qm-sm-12-12 jsCalcCarMonthsSelectFrom"
          name="month_from"
          id="month_from"
        >
          <option value="1" selected="">Januar</option>
          <option value="2">Februar</option>
          <option value="3">März</option>
          <option value="4">April</option>
          <option value="5">Mai</option>
          <option value="6">Juni</option>
          <option value="7">Juli</option>
          <option value="8">August</option>
          <option value="9">September</option>
          <option value="10">Oktober</option>
          <option value="11">November</option>
        </select>
      </div>

      <div class="button-group qm-sm-6-12 qm-md-6-12 p-l-10" role="group">
        <label for="month_to">Bis</label>
        <select
          class="form-control qm-sm-12-12 jsCalcCarMonthsSelectTo"
          name="month_to"
          id="month_to"
        >
          <option value="2">Februar</option>
          <option value="3">März</option>
          <option value="4">April</option>
          <option value="5">Mai</option>
          <option value="6">Juni</option>
          <option value="7">Juli</option>
          <option value="8">August</option>
          <option value="9">September</option>
          <option value="10">Oktober</option>
          <option value="11">November</option>
          <option value="12">Dezember</option>
        </select>
      </div>
    </div>
  </div>

  <div class="calculator-message jsCalcCarResult">
    <h2>Die Kfz-Steuer für dieses Fahrzeug beträgt:</h2>
    <span class="result_number jsCalcCarResultValue">0,00 €</span>
    <h2></h2>
  </div>
</div>
