<div class="pure-g home-vehicle-list">
  <div class="qm-sm-6-12 qm-md-3-12">
    <div class="single-vehicle">
      <a class="pkw color active" href="/ru/nalog-na-avtomobil/">
        <svg class="icon active"><use xlink:href="#pkw"></use></svg>
        <br />
        <span class="text-link">Авто</span>
      </a>
    </div>
  </div>

  <div class="qm-sm-6-12 qm-md-3-12">
    <div class="single-vehicle">
      <a class="motorrad color active" href="/ru/nalog-na-motocikl/">
        <svg class="icon active"><use xlink:href="#motorrad"></use></svg>
        <br />
        <span class="text-link">Мотоцикл</span>
      </a>
    </div>
  </div>

  <div class="qm-sm-6-12 qm-md-3-12">
    <div class="single-vehicle">
      <a class="wohnmobil color active" href="/ru/nalog-na-avtodom/">
        <svg class="icon active"><use xlink:href="#wohnmobil"></use></svg>
        <br />
        <span class="text-link">Автодом</span>
      </a>
    </div>
  </div>

  <div class="qm-sm-6-12 qm-md-3-12">
    <div class="single-vehicle">
      <a class="lkw color active" href="/ru/nalog-na-gruzovik/">
        <svg class="icon active"><use xlink:href="#lkw"></use></svg>
        <br />
        <span class="text-link">Грузовик</span>
      </a>
    </div>
  </div>

  <div class="qm-sm-6-12 qm-md-3-12">
    <div class="single-vehicle">
      <a class="anhaenger color active" href="/ru/nalog-na-pricep/">
        <svg class="icon active"><use xlink:href="#anhaenger"></use></svg>
        <br />
        <span class="text-link">Прицеп</span>
      </a>
    </div>
  </div>

  <div class="qm-sm-6-12 qm-md-3-12">
    <div class="single-vehicle">
      <a class="efz color active" href="/ru/nalog-na-elektrokar/">
        <svg class="icon active"><use xlink:href="#efz"></use></svg>
        <br />
        <span class="text-link">Электрокар</span>
      </a>
    </div>
  </div>

  <div class="qm-sm-6-12 qm-md-3-12">
    <div class="single-vehicle">
      <a class="oldtimer color active" href="/ru/nalog-na-retrokar/">
        <svg class="icon active"><use xlink:href="#oldtimer"></use></svg>
        <br />
        <span class="text-link">Ретрокар</span>
      </a>
    </div>
  </div>
</div>
