<div
  id="div-gpt-ad-1614327210152-0"
  data-google-query-id="COOMt7SxnfYCFRUljwodjiYMLw"
>
  <div
    id="google_ads_iframe_/89800079/kfz-steuer-wiki-in-content-ad_0__container__"
    style="border: 0pt none"
  >
    <iframe
      id="google_ads_iframe_/89800079/kfz-steuer-wiki-in-content-ad_0"
      title="3rd party ad content"
      name="google_ads_iframe_/89800079/kfz-steuer-wiki-in-content-ad_0"
      width="970"
      height="90"
      scrolling="no"
      marginwidth="0"
      marginheight="0"
      frameborder="0"
      role="region"
      aria-label="Advertisement"
      tabindex="0"
      sandbox="allow-forms allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation"
      style="border: 0px; vertical-align: bottom"
      data-google-container-id="1"
      data-load-complete="true"
    ></iframe>
  </div>
</div>
