<div class="pure-g home-vehicle-list">
  <div class="qm-sm-6-12 qm-md-3-12">
    <div class="single-vehicle">
      <a class="pkw color active" href="/car-tax-germany/">
        <svg class="icon active"><use xlink:href="#pkw" /></svg>
        <br />
        <span class="text-link">Car</span>
      </a>
    </div>
  </div>

  <div class="qm-sm-6-12 qm-md-3-12">
    <div class="single-vehicle">
      <a class="motorrad color active" href="/motorcycle-tax-germany/">
        <svg class="icon active">
          <use xlink:href="#motorrad" />
        </svg>
        <br />
        <span class="text-link">Motorcycle</span>
      </a>
    </div>
  </div>

  <div class="qm-sm-6-12 qm-md-3-12">
    <div class="single-vehicle">
      <a class="wohnmobil color active" href="/camper-tax-germany/">
        <svg class="icon active">
          <use xlink:href="#wohnmobil" />
        </svg>
        <br />
        <span class="text-link">RV</span>
      </a>
    </div>
  </div>

  <div class="qm-sm-6-12 qm-md-3-12">
    <div class="single-vehicle">
      <a class="wohnwagen color active" href="/caravan-tax-germany/">
        <svg class="icon active">
          <use xlink:href="#wohnwagen" />
        </svg>
        <br />
        <span class="text-link">Caravan</span>
      </a>
    </div>
  </div>

  <div class="qm-sm-6-12 qm-md-3-12">
    <div class="single-vehicle">
      <a class="lkw color active" href="/truck-tax-germany/">
        <svg class="icon active"><use xlink:href="#lkw" /></svg>
        <br />
        <span class="text-link">Truck</span>
      </a>
    </div>
  </div>

  <div class="qm-sm-6-12 qm-md-3-12">
    <div class="single-vehicle">
      <a class="anhaenger color active" href="/trailer-tax-germany/">
        <svg class="icon active">
          <use xlink:href="#anhaenger" />
        </svg>
        <br />
        <span class="text-link">Trailer</span>
      </a>
    </div>
  </div>

  <div class="qm-sm-6-12 qm-md-3-12">
    <div class="single-vehicle">
      <a class="efz color active" href="/electric-vehicle-tax-germany/">
        <svg class="icon active"><use xlink:href="#efz" /></svg>
        <br />
        <span class="text-link">Electric</span>
      </a>
    </div>
  </div>

  <div class="qm-sm-6-12 qm-md-3-12">
    <div class="single-vehicle">
      <a class="oldtimer color active" href="/oldtimer-tax-germany/">
        <svg class="icon active">
          <use xlink:href="#oldtimer" />
        </svg>
        <br />
        <span class="text-link">Oldtimer</span>
      </a>
    </div>
  </div>
</div>
